@import '../reindeer/reindeer.scss';

@mixin demoTheme {
  @include reindeer;


  .prueba {
    color: #00cc00;
    line-height: 100%;

    &[width-range="0-100px"] {
      font-size: 20px;
    }

    &[width-range="101px-200px"] {
      font-size: 22px;
    }

    &[width-range="200px-350px"] {
      font-size: 24px;
    }

    &[width-range="351px-500px"] {
      font-size: 28px;
    }

    &[width-range="501px-700px"] {
      font-size: 34px;
    }

    &[width-range="701px-"] {
      color: #cc0000;
      font-size: 60px;
    }
  }
}